.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapped {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display : flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MovieList-Item{
  margin-bottom: 24px;
  width: 40%;
} 

